/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(93, 165, 238);}
.mat-button.mat-modify,
.mat-stroked-button.mat-confirm {
    color: greenyellow;
}
.mat-button.mat-confirm:hover,
.mat-stroked-button.mat-confirm:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-confirm,
.mat-flat-button.mat-confirm,
.mat-fab.mat-confirm,
.mat-mini-fab.mat-confirm {
  color: #f0fff3;
  background-color: greenyellow;
}

.mat-icon-button.mat-confirm {
  color:greenyellow;
}
.mat-button.mat-warn,
.mat-stroked-button.mat-warn {
    color: greenyellow;
}
.mat-button.mat-warn:hover,
.mat-stroked-button.mat-warn:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-warn,
.mat-flat-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  color: #f0fff3;
  background-color: rgb(120, 0, 0);
}

.mat-icon-button.mat-warn {
  color:#155724;
}
