<mat-card class="PRESENTAZIONE">
    <mat-card-header>
      <mat-card-title>
    IO SONO GIUVANNI 
      </mat-card-title>
      <mat-card-subtitle>QUESTO E' UN SOTTOTITOLO</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      ABBITO A MOTTA SAN GIUVANNI  <br>
      SONO UN PISCIVENDOLO E FACCIO VENDI COMPRA DI TUTTO AL MERCATO <br> 
      SE E PESCE NOI CE LO VENDIAMO <br>
      VIENI A COMPRARE CO NOI AL MECCATO VASCONE DI MESSINA<br>
      TI ASPETTO NUMEROSI <br> <br>
      UN SALUTO DA GIUVANNI <br>


      <br><br> ANTICA PESCIERIA DEL DRAGO MARINO LOCK NESS
    </mat-card-content>
  </mat-card>
  <mat-card class="IMMAGINE">
    <img src="../../assets/download.jpg">
  </mat-card>