<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tonno</mat-card-title>
      <mat-card-subtitle>Pesce Azzurro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <img mat-card-image src="../../assets/Pesci/Tonno.jpg">
      <p>
       Il Tonno è un pesce azzurro, La carne del tonno può variare dal rosa molto chiaro (quasi bianco) al bruno-rossastro, a seconda della varietà, fino al colore rosso della carne.
      </p>
    </mat-card-content>
  </mat-card>