table {
    width: 100%;
   
  }
  
  th.mat-sort-header-sorted {
    color: black;
    text-align: center;
  }
  
  #PesciExcell{
    position: fixed;
    left: 0.5%;
    margin-top: 0.5%;
    width: 35%;
    
  }
  #sposta{
    margin-right: 1%;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    width: 13.3%;
    text-align: center;
  }
  #modifica{
    margin-right: 10%;
  }
  
  
  .mat-input-element{
    width: 20%;
    padding: 1.5%;
    
  }